<h3>Input basicos</h3>
<div>
  <mat-form-field>
    <input matInput type="text"
           [placeholder]="placeholder.nombre"
           [(ngModel)]="usuario.nombre"
           (keyup)="onKeyUp($event)"
           (blur)="onBlur($event)">
  </mat-form-field>
</div>

<pre>
  {{usuario | json}}
</pre>

<h3> Prefijos y Sufijos</h3>
<div>
  <mat-form-field>
    <span matPrefix> +1&nbsp; </span>
    <input matInput type="text" placeholder="Telefono">
    <span matSuffix>:-)</span>
  </mat-form-field>
</div>

<h3>
  <mat-form-field>
    <input matInput type="text" placeholder="Direccion">
    <mat-hint>Calle y numero de domicilio</mat-hint>
  </mat-form-field>
</h3>
