<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Botones</mat-panel-title>
  </mat-expansion-panel-header>

  <ed-material-button></ed-material-button>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Campos de Texto (Input)</mat-panel-title>
  </mat-expansion-panel-header>

 <ed-material-input></ed-material-input>
</mat-expansion-panel>

<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title> Listas </mat-panel-title>
  </mat-expansion-panel-header>

 <ed-material-list></ed-material-list>
</mat-expansion-panel>


