<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular desde Cero</span>
</mat-toolbar>

<nav>
  <a>
    <button mat-button color="primary"
            [routerLink]="'/'">
      Home
    </button>
  </a>
  <a>
    <button mat-button color="primary"
            [routerLink]="'/mars'">
      Mars Rover Images
    </button>
  </a>
  <a>
    <button mat-button color="primary"
            [routerLink]="'/material-demo'">
      Material Demo
    </button>
  </a>
</nav>

<router-outlet></router-outlet>
