<h3>Botones Normales</h3>
<div>
  <button mat-button> Basico</button>
  <button mat-button color="primary"> Primario Basico</button>
</div>

<h3>Botones con Elevacion</h3>
<div>
  <button mat-raised-button
          [disabled]="!formulario.valido"> Basico</button>
  <button mat-raised-button color="primary"
          [disabled]="!formulario.valido"> Primario Basico</button>
</div>

<h3>Botones con Iconos</h3>
<div>
  <button mat-icon-button (click)="onClick($event)">
    <mat-icon>grade</mat-icon>
  </button>
  <button mat-icon-button color="primary">
    <mat-icon>grade</mat-icon>
  </button>
</div>

<h3>Botones de Accion Flotantes (FAB)</h3>
<div>
  <button mat-fab (click)="onClick($event)">
    <mat-icon>grade</mat-icon>
  </button>
  <button mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>

</div>
